#password{
border: 2px solid
currentcolor;
}

body{
background-color : lightskyblue ;

}

#test{
background-color : lightskyblue ;
}

input invalid {
border: 2px dashed red;
}

input invalid focus {
background-image: linear-gradient(pink,lightgreen);
}
a:hover{
    color : white;
}

